/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IM+Fell+English:ital@0;1&family=Linden+Hill:ital@0;1&family=Maven+Pro:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

// Background of the presentation
$backgroundColor: #1a1a1a !default;

// Primary/body text
$mainFont: 'Crimson Pro', serif !default;
$mainFontSize: 2rem !default;
$mainColor: #d9d9d9 !default;

// Headings
$headingMargin: 0 0 0.1rem 0 !default;
$headingFont: 'Bitter', serif !default;

$heading1Color: #f58224 !default;
$heading2Color: #c68c53 !default;
$heading3Color: #999966 !default;
$heading4Color: #987d9b !default;
$heading5Color: #d2a679 !default;
$heading6Color: #d9b38c !default;

$heading1LineHeight: 5rem !default;
$heading2LineHeight: 6rem !default;
$heading3LineHeight: 3.3rem !default;
$heading4LineHeight: 3rem !default;
$heading5LineHeight: 3rem !default;
$heading6LineHeight: 1.5rem !default;

$headingLetterSpacing: normal !default;

$headingTextTransform: none !default;
// $headingTextAlign: left !default;
$headingTextShadow: none !default;
$headingFontWeight: bold !default;
$heading1TextShadow: $headingTextShadow !default;

$heading1Size: 3.5rem !default;
$heading2Size: 3.0rem !default;
$heading3Size: 2.5rem !default;
$heading4Size: 2.0rem !default;
$heading5Size: 1.7rem !default;
$heading6Size: 1.4rem !default;

// Links and actions
$linkColor: #538cc6 !default;
$linkColorVisited: #c46e98 !default;

// Text selection
$selectionBackgroundColor: #bfbfc0 !default;
$selectionColor: #ffe6c7 !default;

// code blocks
$code-block-bg: transparent !default;
$code-block-border-color: $backgroundColor !default;

/*-- scss:rules --*/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  // text-align: $headingTextAlign;
  margin: $headingMargin;
  font-family: $headingFont;
  font-weight: $headingFontWeight;
  letter-spacing: $headingLetterSpacing;
  text-transform: $headingTextTransform;
  text-shadow: $headingTextShadow;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: $heading1Size;
  color: $heading1Color;
  line-height: $heading1LineHeight;
  text-shadow: $heading1TextShadow;
  margin-bottom: 0.3rem;
}

.reveal h2 {
  font-size: $heading2Size;
  color: $heading2Color;
  line-height: $heading2LineHeight;
  margin-top: 1.6rem;
  margin-bottom: 0.2rem;
}

.reveal h3 {
  font-size: $heading3Size;
  color: $heading3Color;
  line-height: $heading3LineHeight;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

.reveal h4 {
  font-size: $heading4Size;
  color: $heading4Color;
  line-height: $heading4LineHeight;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

.reveal h5 {
  font-size: $heading5Size;
  color: $heading5Color;
  line-height: $heading5LineHeight;
  margin-top: 1.4rem;
  margin-bottom: 0.1rem;
}

.reveal h6 {
  font-size: $heading6Size;
  color: $heading6Color;
  line-height: $heading6LineHeight;
  margin-top: 1.4rem;
  margin-bottom: 0.1rem;
}

.reveal pre {
  border-radius: 3px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  // background-color: #000000;
  background-color: #282a36;
}

.reveal code {
  font-family: 'Source Code Pro', monospace;
  background-color: $backgroundColor;
  color: #f8f8f2;
}

.reveal pre code {
  background-color: $backgroundColor;
  color: #b3b3b3;
}
